.popular-stays-container {
    display: flex;
    flex-wrap: nowrap; 
    padding: 20px 0;
    white-space: nowrap;
    gap:10px;
    transform:translateX(-55px); 
  
  }
  .stays-header h2{
    font-size: 35px;
    transform:translateX(-600px); 
    margin-top: 60px;
  }
  .stays-header a {
    color: #1c7adf;
    font-size: 22px;
    text-decoration: none;
    transform: translateX(-220px); 
   margin-top: -35px;
  }
  
  .stay-card {
    width: 340px; 
    flex-shrink: 0; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    background: #fff;
    margin-right: 25px; 
    
  }
  
  
  
  .stay-image {
    width: 100%;
    height: 180px; 
    object-fit: cover;
  }
  
  .stay-details {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .stay-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .stay-price {
    font-size: 16px;
    font-weight: bold;
    color: #007bff;
    text-align: right;
  }
  
  .stay-info {
    font-size: 14px;
    color: #555;
    text-align: left; 
  }
  