.recent-searches {
    width: 100%;
    text-align: left;
    padding: 20px;
    background: white;
    position: relative;
    margin-top: 3950px;
    
}
.recent-searches h2{
    transform: translateX(-100px); 
}
.searches-container {
    display: flex;
    height: 120px;
    gap: 20px;
    justify-content: center;
    flex-wrap: nowrap; 
    transform: translateX(-100px);
    width: 1500px; 
   
}



.search-card {
    
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    display: flex;
    align-items:baseline;
    justify-content: space-between;
    gap: 50px;
    width:1000px; 
    


.right, .left {
    display: flex;
    align-items: center; 
    gap: 10px;
    font-size: 22px;
    font-weight: bold; 
    color:#1e3a8a;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0.5;
    
.flight-icon {
    font-size: 24px;
    margin-bottom: 5px;
}

.depart-date {
    font-size: 20px;
    margin-top: 5px;
    color: #333;
    text-align: center;
}

.airport-code {
    font-size: 18px;
    font-weight: bold;
    color: #1e3a8a;
}
}}